

JWT_SECRET=
JWT_ACCESS_EXPIRATION_MINUTES=1000000
JWT_REFRESH_EXPIRATION_DAYS=100
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10


DOMAIN=http://localhost:8080
PORT=8080

#localhost
DB_HOST=localhost
DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=123456
DB_DATABASE=nodejs-boilerplate
