@use 'abstractions' as *;

.sort {
  @include flex(row, center, flex-start, spacing('1'));
  font: inherit;
  color: var(--color-text-muted);
  text-transform: uppercase;
  font-size: font-size('xs');
  letter-spacing: 0.03em;
  font-weight: font-weight('semibold');
  @include focus-ring;

  &__icon {
    font-size: 0.7rem;
    opacity: 0.4;

    &--active {
      opacity: 1;
      color: var(--color-primary);
    }
  }
}
